<%= render "layouts/navbar" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row white">
  <div class="large-5 columns border">
    <h2>User Profile </h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="large-7 columns white">
    <h2>
      Goal Weight: 165lbs
    </h2>
    <h2>
      Deadline: January 31st
    </h2>
  </div>
</div>
<br>
<br>
<br>
<div class="row white">
  <div class="large-2 columns">
   
    <h3>Link to Friends</h3>

  </div>
  <div class="large-10 columns border white">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>User Daily Weigh in Goes here</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  
</div>


