<div id="intro">
<p> Weightable is app that allows you to set weight goals and track your progress with support from your friends.  Just follow these simple steps to gets started achieving your goals.
</p>

1.  Sign in to create a new account
<br>
2.  Set up a new weight goal
<br>
3.  Record your current weight
<br>
4.  Search for your friends
<br>
<br>
</div>
<div id="centered">
<h1>Good Luck</h1>
</div>