<%= render "layouts/navbar" %>
<div class="row">
  <div class="large-12 columns">
  </div> 
</div>
<div class="row">
  <% @user.weights.each do |weight| %>
    <div class="large-12 columns">
      <h3><%= link_to "weight:", user_weight_path(current_user.id,weight.id) %> <%= weight.pounds %>lbs, date: <%= weight.created_at.strftime("%d %b. %Y") %></h3>
    </div>
  <% end %> 
</div>

